@font-face {
    font-family: kohsantepheap;
    src: url(../font/kohsantepheap/KohSantepheap-Black.ttf);
}

@font-face {
    font-family: moulbali;
    src: url(../font/moulpali/Moulpali-Regular.ttf);
  }
  @font-face {
    font-family: suwannaphum;
    src: url(../font/suwannaphum/Suwannaphum-Light.ttf);
  }
  @font-face {
    font-family: suwannaphum-thin;
    src: url(../font/suwannaphum/Suwannaphum-Thin.ttf);
  }
html{
  background-color: rgba(247, 238, 247, 1);
  font-family: 'Courier New', Courier, monospace;
}

  .logo  a {
    font-family:moulbali;
    /* font-size: 30px; */
    color: rgba(143, 0, 255, 1);
    padding-left: 5px;
    /* background-color: darkblue; */
  }
  .headd{
    display: flex;
    justify-content: space-between;
    background-color: rgba(247, 238, 247, 1);
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.315);
    padding: 10px;

  }
  .headdbar{
    font-family: suwannaphum;
    display: flex;
    margin-right: 10px;
    gap: 2rem;
    width: auto;
    align-items: center;
    /* color:rgba(57, 61, 71, 1) ; */
  }
  a{
    text-decoration: none;
  }

  .headd-goto a {
    color:rgba(57, 61, 71, 1);
    /* font-size: 20px; */
  }
  .profile a{
    /* font-size: 35px; */
    color: rgba(143, 0, 255, 1);
  }
  *{
    margin: 0;
  }
  .ctainer-headerr{
    position: relative;
    height: 50vh;
    width: 100%;
  }
  .imgg-1{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../img\ and\ iconnn/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  .img-1 img{
    width: 100%;
    height: 100%;

  }

  .ctainer-s{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: 40px; 
  }
  .h1{
    /* margin-bottom: 30px; */
    color:  rgba(247, 238, 247, 1);
    font-family: cursive;
    font-size: 30px;
  }

  .search-ctainer{
    display: flex;
    background-color: rgb(252, 252, 252);
    width: 80%;
    /* height: 20px; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.search-ctainer i{
    color: rgba(57, 61, 71, 0.411);
    font-size: 30px;
    
}
.inputD>input{
    width: 100%;
    border: none;
    outline: none;   
    font-size: 25px;
    height: 40px;
    

}
.inputD{
    margin-left: 15px;
    margin-right: 5px;
    /* border: 1px solid blue; */
    
}
@media screen and (max-width: 767px) {
  .inputD,
  input::placeholder {
      font-size: 1rem;
      /* text-align: center; */
      /* align-self: center; */
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .search-ctainer i{
    font-size:1rem ;
  }
  
}

.button-search{
    float: right;
    background-color: rgba(143, 0, 255, 1);
    border: none;
    /* height: 50px; */
    cursor: pointer;
    width:150px;
    border-radius: 10px;
    color: white;
    margin-left: 25px;
    /* padding: 20px; */
    /* font-size: 25px; */
    font-family: cursive ;
}

.ctainer-bodyy{
  width: 80%;
  height: 100%;
  margin: auto;
}


.discriptionn-1 h2{
  text-align: center;
  font-size: 30px;
  font-family: suwannaphum; 
  color: rgba(57, 61, 71, 1); 
}
.discriptionn-1 p{
   font-family: kohsantepheap;
   font-size: 20px;
   color: rgba(57, 61, 71, 0.655);
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: suwannaphum; 
    color: rgba(57, 61, 71, 1); 
}
.discriptionn-category p{
    text-align: center;
    font-family: kohsantepheap;
    font-size: 20px;
    color: rgba(57, 61, 71, 0.655);
}
.category-carddd{
    font-family: suwannaphum;
    /* display: flex; */
    justify-content: center;
}
.carddd-category{
    width: 30%;
    height: 40vh;
    margin-top: 20px;
}
.carddd-category img{
    width: 100%;
    height: 70%;
}
.carddd-category > .p-1:nth-of-type(1){
    font-size: 25px;
    font-weight: bold;
}

.articalll-location{
 margin-top: 30px;
}
.discriptionn-locat p{
    text-align: center;
    font-family: kohsantepheap;
    font-size: 20px;
    color: rgba(57, 61, 71, 0.655);

}
.carddd-locat{
    font-family: suwannaphum;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 30px;
}
.locat-carddd{
    /* width: 45%; */
    /* height: 45vh; */
    margin-top: 20px;
    /* background-color: white; */
    box-shadow: 0.5px 0.3px 2px black;
    border-radius: 5px;
    transition: e;
}
.locat-carddd img{
    width: 100%;
    height: 80%;
}
.locat-carddd p{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.discriptionn-opt p{
    text-align: center;
    font-family: kohsantepheap;
    font-size: 20px;
    color: rgba(57, 61, 71, 0.655);
}
.carddd-option{
    font-family: suwannaphum;
    /* display: flex; */
    /* justify-content: space-around; */
    margin-bottom: 30px;
}
.option-carddd{
    /* width: 300px; */
    height: 300px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-content: center;

}
.option-carddd img{
    /* margin-top: 40px; */
    width: 50%;
    height: 50%;
    margin: auto;
}
.option-carddd p{
    margin-top: 20px;
    font-family:cursive ;
    font-size: 30px;
    
}

.discript-footer{
    /* background-image: url(../img\ and\ iconnn/city11.jpg); */
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    position: relative;    
    align-content: center; 
    text-align: center;

    
}
.discript-footer::before{
    content: '';
    background-image: url(../img\ and\ iconnn/city1.jpg);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.6;
}
/* .discript-footer img{
    width: 100%;
    height: 100%;
    position: absolute;
} */


.discript-footer > .p-2:nth-of-type(1){
    font-size: 40px;
    font-family:moulbali ;
    color:rgba(143, 0, 255, 1) ;
    position: relative;
}
.discript-footer > .p-2:nth-of-type(2){
    font-size: 30px;
    font-weight: bold;
    color: rgba(57, 61, 71, 1)  ;
    position: relative;
}
footer{
    background-color: rgba(57, 61, 71, 1);
    /* height: 180px; */
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .socialll{
    color: whitesmoke;
    /* width: 100%; */
    height: 100px;
    
  }
  .socialll p{
    text-align: center;
    color: rgba(255, 255, 255, 0.734);
  }
  .socialll-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
    width: 200px;
  }
  .iconnn{
    font-size: 25px;
    color: whitesmoke;
    
  }
  .iconnn-link{
    color: whitesmoke;
    transition: 0.3s ease-in;
  }
  .iconnn-link:hover{
    color: rgba(143, 0, 255, 1);
  }
  .address{
    /* position: absolute; */
    left: 40%;
    /* margin-top: 30px; */
    color: rgba(245, 245, 245, 0.71);
  }
  .address a{
    color: rgba(245, 245, 245, 0.901);
  }
  .address p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
  }
  .address p:nth-child(2){
    margin-top: 10px;
    font-size: 20px;
  }
  .address p:nth-child(3){
    margin-top: 10px;
    font-size: 20px;
  }
  .more-info{
    /* position: absolute; */
    right: 10%;
    /* margin-top: 30px; */
    color: rgba(245, 245, 245, 0.671);
  }
  .more-info p:nth-child(1){
    font-size: 25px;
  }
  .more-info p:nth-child(2){
    font-size: 15px;
    margin-top: 10px;
  }
  .more-info p:nth-child(3){
    font-size: 15px;
    margin-top: 10px;
  }
  .more-info p:nth-child(4){
    font-size: 15px;
    margin-top: 10px;
  }

  /*cardddddddd*/
  
.carddd-container{
  /* width: 400px; */
  background-color: rgb(255, 255, 255);
  /* height: auto; */
  box-shadow: 0.5px 0px 5px 0px rgba(0, 0, 0, 0.381);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  overflow: hidden;
}
.carddd-container i{
  color: blueviolet;
  font-size: 20px;
}
.carddd-container img{
  width: 100%;
  height: 50%;
}
.carddd{
  
  width: 80%;
  margin: auto;
}
.headdd-carddd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top:20px ; */
}
.headdd-carddd p{
  font-size: 25px;
  margin-top:20px ;
  margin-bottom: 10px;
}
.savee-boxx{
  margin-top:10px ;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius:50%;
  text-align: center;
  line-height: 45px;
}
.footerr-carddd{
  display: flex;
 justify-content: space-between;
}

.unclear-location{
  color: rgba(0, 0, 0, 0.586);
}
.prize{
  font-size: 25px;
  color: rgb(137, 43, 226);
  margin-bottom: 10px;
}
.prize span{
  color: rgba(0, 0, 0, 0.441);
  font-size: 20px;
}
.timerr{
  align-items: center;
  display: flex;
  /* font-size: 20px; */
  gap: 1rem;
}
.meterr{
  align-items: center;
  display: flex;
  /* font-size: 20px; */
  gap:1rem ;
}
.timerr-textt{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.564);
}
.meterr-textt{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.564);
}

/*about us*/
.aboutt-us{
  color: rgba(57, 61, 71, 1);
}
.aboutt-us h3{
  color:rgb(44, 47, 54) ;
}
.bg-imagee{
  background-image: url(../img\ and\ iconnn/pp1.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size:cover ;
  
}